# Terraform state files
terraform.tfstate
terraform.tfstate.backup
*.tfstate
*.tfstate.*

# Crash logs
crash.log

# CLI configuration files
.terraform/
# Sensitive variable overrides
*.tfvars
*.tfvars.json